/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.custom-shape-divider-bottom-1601119354 svg {
		width: calc(167% + 1.3px);
		height: 315px;
	}
}

/** For mobile devices **/
@media (max-width: 767px) {
	.custom-shape-divider-bottom-1601119354 svg {
		width: calc(168% + 1.3px);
		height: 274px;
	}
}
