@import "variables";
@import "utilities";

// Reset
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

// Defaults
body {
	font-family: $font-others;
	line-height: 1.6;
	background-color: #fff;
}
ul {
	list-style: none;
}
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: $font-heading;
}
a {
	text-decoration: none;
}

// Header -> Navbar
#main-header {
	background-color: #f5f5f5;
	background-color: #58b19f;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232c3a47' fill-opacity='0.42' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	.head {
		&-nav {
			display: flex;
			justify-content: space-between;
			padding: 0.5rem 1rem;
			// position: fixed;
			// top: 0;
			// left: 0;
			// right: 0;
			// backdrop-filter: blur(5px);
			&-logo a {
				font-family: $font-logo;
				font-size: 3rem;
				padding: 1rem;
				color: $dark-color;
				font-weight: 700;
				transition: all 0.3s ease-in-out;
				&:hover {
					font-size: 3.3rem;
					font-weight: 900;
					color: $secondary-color;
				}
			}
			&-menu ul {
				display: flex;
				li {
					padding: 1rem 1.5rem;
					a {
						text-transform: uppercase;
						color: $dark-color;
						font-size: large;
						font-weight: bolder;
						border-bottom: transparent solid 3px;
						padding-bottom: 0.5rem;
						transition: border-bottom 0.5s ease-in-out;
						&:hover {
							border-bottom-color: #2c3a47;
						}
						&.current {
							border-bottom-color: $secondary-color;
						}
					}
				}
			}
		}
	}
}

// Header -> About
#main-about {
	display: grid;
	grid-template-areas:
		"introa introb"
		"introc introb";
	gap: 4rem;
	padding: 1.5rem 1.5rem 12rem 0;
	.intro {
		&-a {
			grid-area: introa;
			h2 {
				font-size: 2.2rem;
			}
			div {
				font-size: 1.3rem;
			}
		}
		&-b {
			grid-area: introb;
			img {
				width: 300px;
				border-radius: 50%;
				box-shadow: $shadow-light;
				&:hover {
					box-shadow: $shadow-medium;
				}
			}
		}
		&-c {
			grid-area: introc;
		}
	}
}

// Waves
#main-header {
	.custom-shape-divider-bottom-1601119354 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1601119354 svg {
		position: relative;
		display: block;
		width: calc(147% + 1.3px);
		height: 238px;
	}

	.custom-shape-divider-bottom-1601119354 .shape-fill {
		fill: #ffffff;
	}
}

// Experience

#main-experience {
	.main-exp {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		justify-content: center;
		align-items: center;
		i {
			padding-bottom: 2rem;
		}
	}
	.exp {
		&-c {
			.fa-html5 {
				color: orangered;
			}
			.fa-css3-alt {
				color: rgb(0, 195, 255);
			}
		}
	}

	.awards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.highlight {
			span:first-child {
				font-weight: bolder;
			}
			span:last-child {
				font-weight: lighter;
				text-transform: capitalize;
				font-style: italic;
			}
			&-sub {
				text-transform: none;
			}
		}

		div {
			i {
				padding-bottom: 2rem;
			}
			padding: 4rem 1rem;
			&:nth-child(even) {
				background-color: $medium-color;
			}
			&:nth-child(odd) {
				background-color: $light-color;
			}
		}
	}
}

// Life Timeline
@import "timeline";

// Skills
#main-skills {
	background-color: #fff;
	color: set-text-color(#fff);
	.skill-main {
		ul {
			li {
				h5 {
					font-size: 1rem;
				}
				p {
					font-style: italic;
				}
				.outer-bar {
					overflow: hidden;
					height: 20px;
					border-radius: 5px;
					background-color: #487eb0;
					margin-bottom: 1rem;
					.inner-bar {
						height: 100%;
						border-radius: 5px;
						background-color: #273c75;
					}
				}
			}
		}
	}
}

#logo-skills {
	background-color: $medium-color;
	.about-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
		&:first-child {
			padding-left: 5rem;
		}
		img {
			width: 50%;
		}
	}
}

// Footer
#main-footer {
	background-color: $dark-color;
	padding-top: 2rem;
	.foot-main {
		display: flex;
		flex-direction: column;
		.foot-a ul {
			display: flex;
			justify-content: space-evenly;
			a {
				text-transform: uppercase;
			}
		}
		.foot-a a,
		.foot-c h3 {
			color: $light-color;
		}
	}
}

// Media queries
@import "mobile";
