//! Tablet
@media only screen and (max-width: 780px) {
	//? Home page
	// Header -> About
	#main-about {
		height: 78vh;
		.intro-a {
			p.lead {
				margin-top: 2rem;
			}
			.d-cv {
				margin-top: 2rem;
				a {
					text-transform: uppercase;
				}
			}
		}
	}

	// Experience
	#main-experience {
		.main-exp {
			grid-template-columns: repeat(1, 1fr);
		}
		.awards {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	//? About Page
	// About me Section
	#section-about-me {
		.about-me {
			gap: 1rem;
			img {
				width: 25rem;
			}
		}
	}

	// ? Work Page
	#work-gallery {
		.work-gallery-items {
			height: 18rem;
		}
	}

	// ? Contact Page
}

//! Mobile - L
@media only screen and (max-width: 440px) {
	//? Home page
	// Header -> Navbar
	#main-header {
		.head-nav {
			flex-direction: column;
			align-items: center;
		}
	}
	// Header -> About
	#main-about {
		height: 68vh;
		grid-template-areas:
			"introa"
			"introb";
		text-align: center;
		.intro-a {
			h2 {
				font-size: 1.5rem;
			}
			div {
				font-size: 1rem;
			}
			.lead {
				font-size: 1rem;
			}
		}
		.intro-b {
			display: none;
		}
	}

	//? About Page
	// About me Section
	#section-about-me {
		.about-me {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.about-info {
				border: none;
			}
		}
	}

	#logo-skills {
		.about-logos {
			flex-flow: row wrap;
			justify-content: center;
			gap: 3rem;
			img {
				width: 10%;
			}
		}
	}

	// ? Work Page
	#work-gallery {
		.work-gallery-items {
			flex-flow: column wrap;
			height: 40rem;
		}
	}

	// ? Contact Page
	#main-contact {
		.contact-me {
			display: flex;
			flex-flow: column nowrap;
			padding: 0 0;
		}
	}

	// My Contact
	#my-contact {
		.contact-info {
			display: flex;
			flex-direction: column;
			text-align: center;
			div {
				margin-bottom: 1.5rem;
				border-bottom: 1px #333 solid;
				&:last-child() {
					border-bottom: none;
					margin-bottom: 0;
				}
			}
		}
	}
}

//! Mobile - M
@media only screen and (max-width: 380px) {
	//? Home page
	// Header -> Navbar
	#main-header {
		.head-nav-menu {
			ul {
				li {
					padding: 1rem 1rem;
				}
			}
		}
	}
}

//! Mobile - S
@media only screen and (max-width: 330px) {
	//? Home page
	// Header -> About
	#main-header {
		.head-nav-menu {
			ul {
				li {
					padding: 1rem 0.6rem;
				}
			}
		}
	}

	#main-about {
		.intro-a {
			h2 {
				font-size: 1.3rem;
			}
			div {
				font-size: 0.9rem;
			}
			.lead {
				font-size: 0.9rem;
			}
		}
	}
}

// ! Hero height setup
@media only screen and (max-height: 1370px) and (max-device-width: 1030px) {
	// Header -> About
	#main-about {
		height: 89.9vh;
	}
}
@media only screen and (max-height: 1030px) and (max-device-width: 770px) {
	// Header -> About
	#main-about {
		height: 86.6vh;
	}
}
// Pixel 2 XL
@media only screen and (max-height: 830px) and (max-device-width: 415px) {
	// Header -> About
	#main-about {
		height: 75.8vh;
	}
}
// iPhone X
@media only screen and (max-height: 815px) and (max-device-width: 415px),
	(max-device-width: 380px) {
	// Header -> About
	#main-about {
		height: 75.5vh;
	}
}
// Pixel 2 & iPhone 6/7/8 & iPhone 6/7/8 Plus
@media only screen and (max-height: 740px) and (max-device-width: 415px) {
	// Header -> About
	#main-about {
		height: 73vh;
	}
}

// Moto G4 & Galaxy S5
@media only screen and (max-height: 650px) and (max-device-width: 370px) {
	// Header -> About
	#main-about {
		height: 69vh;
	}
}
// iPhone 5/SE
@media only screen and (max-height: 570px) and (max-device-width: 550px) {
	// Header -> About
	#main-about {
		height: 64.8vh;
		.intro-a {
			h2 {
				font-size: 1rem;
			}
			div {
				font-size: 0.9rem;
			}
			.lead {
				font-size: 0.9rem;
				margin: 1rem 0;
			}
			.d-cv {
				margin: 4px 0;
			}
		}
	}
}

// ! Timeline
@media (max-width: 900px) {
	#timeline ul li div {
		width: 200px;
	}
	#timeline ul li:nth-child(even) div {
		left: -248px;
	}
}

@media (max-width: 600px) {
	#timeline ul li {
		margin-left: 20px;
	}
	#timeline ul li div {
		width: calc(100vw - 120px);
	}
	#timeline ul li:nth-child(even) div {
		left: 40px;
	}
	#timeline ul li:nth-child(even) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent var(--secondary-color);
	}
}
