$font-heading: "Noto Sans TC", sans-serif;
$font-others: "Quicksand", sans-serif;
$font-logo: "Engagement", cursive;

$website-width: 1280px;
$sub-website-width: 990px;
$main-color: #55e6c1;
$secondary-color: coral;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$card-1-color: #f2ad4e;
$card-2-color: #fff1ad;

$shadow-heavy: 8px 8px 10px 6px rgba(0, 0, 0, 1);
$shadow-medium: 5px 5px 10px 4px rgba(0, 0, 0, 0.5);
$shadow-light: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
$shaow-hover: 5px 3px 6px 1px rgba(0, 0, 0, 0.3);

// Set Text color function
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}
