.container {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0.15rem;
}

.sub-container {
  max-width: 990px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0.15rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background-color: #55e6c1;
  display: block;
  margin: 1rem auto;
}

.border-nav {
  width: 100%;
  height: 2px;
  background-color: #222;
}

.social a i {
  color: #666;
  margin-right: 0.5rem;
}

.social .fab.fa-facebook:hover {
  color: #3b5998;
  border-color: #3b58985e;
}

.social .fab.fa-github:hover {
  color: #211f1f;
  border-color: #211f1f71;
}

.social .fab.fa-instagram:hover {
  color: #e95950;
  border-color: #e95a5073;
}

.social .fab.fa-linkedin:hover {
  color: #0e76a8;
  border-color: #0e77a871;
}

.social .fas.fa-envelope:hover {
  color: #d44638;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

ul {
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
}

#main-header {
  background-color: #f5f5f5;
  background-color: #58b19f;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232c3a47' fill-opacity='0.42' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#main-header .head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-header .head-nav-logo a {
  font-family: "Engagement", cursive;
  font-size: 3rem;
  padding: 1rem;
  color: #222;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-header .head-nav-logo a:hover {
  font-size: 3.3rem;
  font-weight: 900;
  color: coral;
}

#main-header .head-nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-header .head-nav-menu ul li {
  padding: 1rem 1.5rem;
}

#main-header .head-nav-menu ul li a {
  text-transform: uppercase;
  color: #222;
  font-size: large;
  font-weight: bolder;
  border-bottom: transparent solid 3px;
  padding-bottom: 0.5rem;
  -webkit-transition: border-bottom 0.5s ease-in-out;
  transition: border-bottom 0.5s ease-in-out;
}

#main-header .head-nav-menu ul li a:hover {
  border-bottom-color: #2c3a47;
}

#main-header .head-nav-menu ul li a.current {
  border-bottom-color: coral;
}

#main-about {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "introa introb" "introc introb";
  gap: 4rem;
  padding: 1.5rem 1.5rem 13rem 0;
}

#main-about .intro-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: introa;
}

#main-about .intro-a h2 {
  font-size: 2.2rem;
}

#main-about .intro-a div {
  font-size: 1.3rem;
}

#main-about .intro-b {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: introb;
}

#main-about .intro-b img {
  width: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
}

#main-about .intro-b img:hover {
  -webkit-box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.5);
}

#main-about .intro-c {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: introc;
}

#main-header .custom-shape-divider-bottom-1601119354 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#main-header .custom-shape-divider-bottom-1601119354 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 238px;
}

#main-header .custom-shape-divider-bottom-1601119354 .shape-fill {
  fill: #ffffff;
}

#main-experience .main-exp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-experience .main-exp i {
  padding-bottom: 2rem;
}

#main-experience .main-exp .exp-c .lead {
  font-size: 1.4rem;
}

#main-experience .awards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#main-experience .awards .highlight span:first-child {
  font-weight: bolder;
}

#main-experience .awards .highlight span:last-child {
  font-weight: lighter;
  text-transform: capitalize;
  font-style: italic;
}

#main-experience .awards .highlight-sub {
  text-transform: none;
}

#main-experience .awards div {
  padding: 4rem 1rem;
}

#main-experience .awards div i {
  padding-bottom: 2rem;
}

#main-experience .awards div:nth-child(even) {
  background-color: #ccc;
}

#main-experience .awards div:nth-child(odd) {
  background-color: #f4f4f4;
}

#section-about-me .about-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

#section-about-me .about-me img {
  width: 30rem;
}

#section-about-me .about-me .about-info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  border-left: #55e6c1 3px solid;
  padding: 1rem;
}

#main-skills {
  background-color: #222;
  color: #fff;
}

#main-skills .skill-main ul li h5 {
  font-size: 1rem;
}

#main-skills .skill-main ul li p {
  font-style: italic;
}

#main-skills .skill-main ul li .outer-bar {
  overflow: hidden;
  height: 20px;
  border-radius: 5px;
  background-color: #ccc;
  margin-bottom: 1rem;
}

#main-skills .skill-main ul li .outer-bar .inner-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #55e6c1;
}

#logo-skills {
  background-color: #ccc;
}

#logo-skills .about-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

#logo-skills .about-logos img {
  width: 10%;
}

#timeline ul {
  padding: 50px 0;
  margin: 15px;
}

#timeline ul li {
  position: relative;
  padding: 5px 0;
  margin: 0 auto;
  width: 6px;
  background-color: #222;
  border-radius: 5px;
}

#timeline ul li h3 i {
  margin-right: 10px;
}

#timeline ul li h3 p {
  padding-left: 20px;
}

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 500px;
  background-color: #55e6c1;
  padding: 1.5rem;
  border-radius: 8px;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  visibility: hidden;
  opacity: 0;
}

#timeline ul li:nth-child(odd) div {
  left: 45px;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

#timeline ul li:nth-child(even) div {
  left: -544px;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

#timeline ul li::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #55e6c1;
  width: 25px;
  height: 25px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  visibility: hidden;
}

#timeline ul li div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 5px;
  border-style: solid;
}

#timeline ul li:nth-child(odd) div::before {
  border-color: transparent #55e6c1;
  border-width: 8px 16px 8px 0;
  left: -15px;
}

#timeline ul li:nth-child(even) div::before {
  border-color: transparent #55e6c1;
  border-width: 8px 0 8px 16px;
  right: -15px;
}

#timeline ul li.show div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show::after {
  visibility: visible;
  background-color: coral;
}

#main-contact {
  padding: 0 1rem;
}

#main-contact .contact-me {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "subject phone" "message message" "submit submit";
  gap: 1.2rem;
  margin-bottom: 2rem;
}

#main-contact .contact-me input,
#main-contact .contact-me textarea {
  border: 2px solid;
  padding: 0.6rem 1rem;
}

#main-contact .contact-me input:hover,
#main-contact .contact-me textarea:hover {
  -webkit-box-shadow: 0 0 0 2px coral;
          box-shadow: 0 0 0 2px coral;
}

#main-contact .contact-me input:focus,
#main-contact .contact-me textarea:focus {
  outline: 2px solid #55e6c1;
}

#main-contact .contact-me #id_name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#main-contact .contact-me #id_email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#main-contact .contact-me #id_subject {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

#main-contact .contact-me #id_phone {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

#main-contact .contact-me #id_message {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  margin-bottom: 1rem;
}

#main-contact .contact-me input[type="submit"] {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
  width: 50%;
  margin: auto;
}

#main-footer {
  background-color: #222;
  padding-top: 2rem;
}

#main-footer .foot-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-footer .foot-main .foot-a ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main-footer .foot-main .foot-a ul a {
  text-transform: uppercase;
}

#main-footer .foot-main .foot-a a,
#main-footer .foot-main .foot-c h3 {
  color: #f4f4f4;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1601119354 svg {
    width: calc(167% + 1.3px);
    height: 315px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1601119354 svg {
    width: calc(168% + 1.3px);
    height: 274px;
  }
}
/*# sourceMappingURL=main.css.map */