<!-- prettier-ignore -->
{% extends 'base/index.html' %}
{% load static %}

{% block about %}
	{% block shape-divider %}
	{% endblock shape-divider %}
{% endblock about %}

{% block all-content %}
<div class="border-nav"></div>
<!-- About me Section -->
<section id="section-about-me py2">
	<div class="container">
		<h2 class="section-title py-3">About Me</h2>
		<div class="bottom-line"></div>
		<p class="lead text-center">Let me tell you more about myself</p>
		<div class="about-me">

		</div>
	</div>
</section>
<!-- Skils Section -->
<section id="main-skills">
	<div class="container">
		<h2 class="section-title py-3">Technical Skills</h2>
		<div class="bottom-line"></div>
		<p class="lead text-center">Here Are Things I'm Good At</p>
		<div class="skill-main">
			<ul>
				<li>
					<h5>Python</h5>
					<p>Scripting, Django, Django Rest Framework</p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 70%"></div>
					</div>
				</li>
				<li>
					<h5>HTML5 and CSS3</h5>
					<p>Sass, Bootstrap</p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 90%"></div>
					</div>
				</li>
				<li>
					<h5>JavaScript</h5>
					<p></p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 60%"></div>
					</div>
				</li>
				<li>
					<h5>SQL PL/SQL</h5>
					<p>Oracle, Postgres</p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 75%"></div>
					</div>
				</li>
				<li>
					<h5>Selenium</h5>
					<p>With Python</p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 70%"></div>
					</div>
				</li>
				<li>
					<h5>GIT AND GITHUB</h5>
					<p></p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 70%"></div>
					</div>
				</li>
				<li>
					<h5>Cooking 🙈</h5>
					<p></p>
					<div class="outer-bar">
						<div class="inner-bar" style="width: 100%"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- Skills Logo Section -->
<section id="logo-skills" class="py-4">
	<div class="container">
		<div class="about-logos">
			<img
				src="{% static '/image/logo-skills/django.svg' %}"
				alt="Django"
				srcset=""
			/>
			<img
				src="{% static '/image/logo-skills/python.svg' %}"
				alt=""
				srcset=""
			/>
			<img
				src="{% static '/image/logo-skills/javascript.svg' %}"
				alt=""
				srcset=""
			/>
			<img
				src="{% static '/image/logo-skills/html5.svg' %}"
				alt=""
				srcset=""
			/>
			<img
				src="{% static '/image/logo-skills/css3.svg' %}"
				alt=""
				srcset=""
			/>
			<img
				src="{% static '/image/logo-skills/postgresql.svg' %}"
				alt=""
				srcset=""
			/>
			<img
				src="{% static '/image/logo-skills/selenium.svg' %}"
				alt=""
				srcset=""
			/>
		</div>
	</div>
</section>
<!-- Life Timeline -->
<section id="timeline">
	<div class="container">
		<h2 class="section-title py-2">Timeline</h2>
		<div class="bottom-line"></div>
		<ul>
			<li>
				<div>
					<h3>
						<i class="fas fa-chevron-right"></i>18th
						June, 1995: Birthday
					</h3>
					<p>My Birthday!</p>
				</div>
			</li>
			<li>
				<div>
					<h3>
						<i class="fas fa-chevron-right"></i
						>2016, March: Graduation
					</h3>
					<p>
						Bachelor of Science in Information
						Technology, St. Andrew's College of
						Arts, Science and Commerce
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>
						<i class="fas fa-chevron-right"></i
						>2016, August: First Job
					</h3>
					<p>
						Started My First Job as Junior Software
						Engineer at Tech Mahindra
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>
						<i class="fas fa-chevron-right"></i
						>2017, December: Travelled to
						Netherlands
					</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur,
						adipisicing elit. Nam, inventore?
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>
						<i class="fas fa-chevron-right"></i
						>2019: Started building
						projects/websites!
					</h3>
					<p>
						Lorem ipsum dolor sit, amet consectetur
						adipisicing elit. Quidem repudiandae
						ratione consequuntur fuga libero? Ad qui
						suscipit perferendis expedita nemo!
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
</section>
{% endblock all-content %}
