<!-- prettier-ignore -->
{% extends 'base/index.html' %}
{% load static %}

{% block about %}
	{% block shape-divider %}
	{% endblock shape-divider %}
{% endblock about %}

{% block all-content %}
<div class="border-nav"></div>
<!-- Contact me Form -->
<section id="main-contact">
	<div class="container py-2 px-2">
		<h2 class="section-title py-2">Contact Me</h2>
		<div class="bottom-line"></div>
		<p class="lead text-center">Here's how you can reach me</p>
		<form action="" method="post" class="contact-me">
			<!-- prettier-ignore -->
			{% csrf_token %}

			{{contact_form.name}}
			{{contact_form.email}}
			{{contact_form.subject}}
			{{contact_form.phone}}
			{{contact_form.message}}

			<input type="submit" value="Submit" class="btn-dark" />
		</form>
	</div>
</section>
<!-- My Contact -->
<section id="my-contact">
	<div class="container py-2">
		<div class="contact-info text-center">
			<div>
				<i class="fas fa-envelope fa-2x"></i>
				<h3>Email</h3>
				<p>haridx.poojary@gmail.com</p>
			</div>
			<div>
				<i class="fas fa-phone fa-2x"></i>
				<h3>Phone</h3>
				<p>+91 7208551923</p>
			</div>
			<div>
				<i class="fas fa-address-card fa-2x"></i>
				<h3>Address</h3>
				<p>Mangalore, Karnataka, India 💖</p>
			</div>
		</div>
	</div>
</section>
<!-- Good bye message -->
<!-- <section id="goodbye">
	<div class="container py-3">

	</div>
</section> -->
<script>
	const name = document.querySelector("#id_name");
	name.placeholder = "Name...";
	const email = document.querySelector("#id_email");
	email.placeholder = "Email...";
	const subject = document.querySelector("#id_subject");
	subject.placeholder = "Subject...";
	const phone = document.querySelector("#id_phone");
	phone.placeholder = "Phone...";
	const message = document.querySelector("#id_message");
	message.placeholder = "Your Message...";
</script>
{% endblock all-content %}
