<footer id="main-footer" class="text-center">
	<div class="sub-container">
		<div class="foot-main">
			<div class="foot-a py-2">
				<ul>
					<li>
						<a class="current" href="{% url 'index' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'about' %}">About</a>
					</li>
					<li>
						<a href="{% url 'work' %}">Work</a>
					</li>
					<li>
						<a href="{% url 'contact' %}">Contact</a>
					</li>
				</ul>
			</div>
			<div class="foot-b py-2">
				<div class="social">
					<a href="mailto:haridx.poojary@gmail.com"
						><i class="fas fa-envelope fa-3x"></i
					></a>
					<a
						href="https://www.facebook.com/HariiPoojary/"
						target="_blank"
						><i class="fab fa-facebook fa-3x"></i
					></a>
					<a
						href="https://www.instagram.com/hari_poojary/"
						target="_blank"
						><i class="fab fa-instagram fa-3x"></i
					></a>
					<a
						href="https://www.linkedin.com/in/hariprasadjanardhanpoojary/"
						target="_blank"
						><i class="fab fa-linkedin fa-3x"></i
					></a>
				</div>
			</div>
			<div class="foot-c">
				<h3>&copy; 2020 Hariprasad Poojary</h3>
			</div>
		</div>
	</div>
</footer>
