{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Hariprasad | Web Developer</title>
		<script
			src="https://kit.fontawesome.com/5cec223499.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Engagement&family=Noto+Sans+TC&family=Quicksand&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static '/css/main.css' %}" />
	</head>
	<body>
		<header id="main-header">
			<div class="container">
				<!-- prettier-ignore -->
				{% block navbar %} 
					{% include 'base/navbar.html' %} 
				{% endblock navbar %}
				{% block about %}
				<!-- Hero Section -->
				<section id="main-body">
					<div class="sub-container">
						<section id="main-about">
							<div class="intro-a">
								<h2>Hi, I'm Hariprasad Poojary!</h2>
								<div>
									I'm a
									<span
										class="txt-type"
										data-wait="2000"
										data-words='["Front-End Developer","Back-End Developer", "Automation Tester", "Functional Tester"]'
									></span>
								</div>
								<div class="social">
									<a
										href="https://www.facebook.com/HariiPoojary/"
										target="_blank"
										><i class="fab fa-facebook"></i
									></a>
									<a
										href="https://github.com/HariprasadPoojary"
										target="_blank"
										><i class="fab fa-github"></i
									></a>
									<a
										href="https://www.instagram.com/hari_poojary/"
										target="_blank"
										><i class="fab fa-instagram"></i
									></a>
									<a
										href="https://www.linkedin.com/in/hariprasadjanardhanpoojary/"
										target="_blank"
										><i class="fab fa-linkedin"></i
									></a>
								</div>
								<p class="lead">
									Lorem ipsum dolor sit, amet consectetur
									adipisicing elit. Repellat quasi tempore et
									earum dolorem sunt expedita ducimus
									praesentium error impedit?
								</p>
								<div class="d-cv">
									<a href="{% url 'download_cv' %}" class="btn-dark">Download CV</a>
								</div>
							</div>
							<div class="intro-b">
								<img
									src="{% static '/image/hari-about.jpg' %}"
									alt="Hariprasad"
								/>
							</div>
						</section>
					</div>
				</section>
				{% endblock about %}
			</div>
			<!-- Shape Under Hero section -->
			{% block shape-divider %}
			<div class="custom-shape-divider-bottom-1610467520">
				<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
					<path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
				</svg>
			</div>
			{% endblock shape-divider %}
		</header>
		<section id="all-content">
			{% block all-content %}
			<!-- Experience Section -->
			<section id="main-experience">
				<div class="container">
					<h2 class="section-title py-2">My Experience</h2>
					<div class="bottom-line"></div>
					<div class="main-exp text-center py-2">
						<div class="exp-a">
							<i class="fas fa-user-tie fa-3x"></i>
							<p class="lead">
								Around 4 years of IT experience with Tech
								Mahindra. My skills are majorly into software
								testing and telecom OSS/BSS. Decent domain
								knowledge in Telecom industry related to copper
								and fiber network access domain in both
								wholesale and retail consumer market.
							</p>
						</div>
						<div class="exp-b">
							<i class="fas fa-vials fa-3x"></i>
							<p class="lead">
								Working as a functional QA in a variety of test
								phases like system test, system integration
								test, E2E test. Have very good analytical, able
								to deal with complicated projects, ability to
								understand complex designs and creating high
								quality and timely working results.
							</p>
						</div>
						<div class="exp-c">
							<i class="fab fa-python fa-3x"></i>
							<i class="fab fa-html5 fa-3x"></i>
							<i class="fab fa-css3-alt fa-3x"></i>
							<i class="fas fa-database fa-3x"></i>
							<p class="lead">
								Skilled in Functional testing, Manual testing,
								Python, Django, Django Rest Framework, Selenium
								WebDriver with Python, SQL,
								PL/SQL.
							</p>
						</div>
					</div>
				</div>
				<!-- Awards Section -->
				<h2 class="section-title py-2">Awards</h2>
				<div class="bottom-line"></div>
				<div class="awards py-4">
					<div class="award-1 py-3 text-center">
						<i class="fas fa-award fa-5x"></i>

						<h4 class="highlight">
							<span>TESTA</span>,
							<span>The European Software Testing Awards</span>
						</h4>
						<h6 class="highlight-sub">
							Category: Best Overall Testing Project
							(Communications)
						</h6>
					</div>
					<div class="award-2 py-3 text-center">
						<i class="fas fa-award fa-5x"></i>

						<h4 class="highlight">
							<span>ACE</span>
							<span>(Associates Consistently Excel)</span>
						</h4>
						<h6 class="highlight-sub">Awarded by TechMahindra</h6>
					</div>
					<div class="award-3 py-3 text-center">
						<i class="fas fa-award fa-5x"></i>

						<h4 class="highlight">
							<span>Bravo</span>
							<span></span>
						</h4>
						<h6 class="highlight-sub">
							Awarded by TechMahindra for Maximum number of defect
							logging, test execution and training newcomers.
						</h6>
					</div>
				</div>
				
			{% endblock all-content %}
		</section>
		<!-- Footer -->
		<!-- prettier-ignore -->
		{% block footer %}
			{% include 'base/footer.html' %} 
		{% endblock footer %}
		<script src="{% static '/js/typewriter.js' %}"></script>
		<script src="{% static '/js/timeline.js' %}"></script>
		<script src="{% static '/js/main.js' %}"></script>
	</body>
</html>
