<!-- prettier-ignore -->
{% extends 'base/index.html' %}
{% load static %}

{% block about %}
	{% block shape-divider %}
	{% endblock shape-divider %}
{% endblock about %}

{% block all-content %}
<div class="border-nav"></div>

<section id="work-gallery">
	<div class="container py-2">
		<h2 class="section-title py-2">My Work</h2>
		<div class="bottom-line"></div>
		<p class="lead text-center">Check Out Some Of My Projects</p>
		<div class="work-gallery-items">
			<div class="col row-1">
				<h2 class="text-center">Django Todo App</h2>
				<div class="caption">
					<p>
						DJango and DJango REST Framework based todo app A todo
						web application written with the goal of learning how to
						use DJango and DJango REST Framework as a Backend and
						HTML, CSS, JavaScript as Frontend
					</p>
					<a
						class="btn btn-gallery"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</div>
				<img
					src="{% static 'image/gallery/todo-app.png' %}"
					alt="Django todo app"
				/>
			</div>
			<div class="col row-1">
				<h2 class="text-center">Portfolio Website</h2>
				<div class="caption">
					<p>
						My Portfolio website built on Django and Vanilla
						Javascript
					</p>
					<a
						class="btn btn-gallery"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</div>
				<p class="ft-10 text-right">💚</p>
			</div>
			<div class="col row-1 row-1">
				<h2 class="text-center">Python CLI Sudoku</h2>
				<div class="caption">
					<p>
						Command line Sudoku solver based on backtracking
						algorithm
					</p>
					<a
						class="btn btn-gallery"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</div>
				<p class="ft-10 text-right">🎰</p>
			</div>
		</div>
		<div class="work-gallery-items">
			<div class="col row-2">
				<h2 class="text-center">Tic-Tac-Toe AI</h2>
				<div class="caption">
					<p>
						Tic-Tac-Toe ❌⭕ with an Undefeatable AI (MiniMax
						Algorithm)
					</p>
					<a
						class="btn btn-gallery"
						href="https://github.com/HariprasadPoojary/Python-Projects"
						>Know More</a
					>
				</div>
				<p class="ft-6 text-right"></p>
			</div>
			<div class="col row-2">
				<h2 class="text-center">CLI Minesweeper</h2>
				<div class="caption">
					<p>CLI Minesweeper💣 in Python</p>
					<a
						class="btn btn-gallery"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</div>
				<p class="ft-6 text-right">💣</p>
			</div>
			<div class="col row-2">
				<h2 class="text-center">Python Projects</h2>
				<div class="caption">
					<p>
						Basic python projects created with the aim of learning
						the language more deeply
					</p>
					<a
						class="btn btn-gallery"
						href="https://github.com/HariprasadPoojary/Python-Projects"
						>Know More</a
					>
				</div>
			</div>
		</div>
	</div>
	<!-- Flip card -->
	<!-- <div class="container flip py-2">
		<div class="card-container">
			<div class="card">
				<figure class="front">
					<h3 class="text-center">This Portfolio Website</h3>
					<img
						src="{% static 'image/gallery/todo-app.png' %}"
						alt="Django todo app"
					/>
				</figure>
				<figure class="back text-center">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing
						elit. Veniam commodi, at sunt quae doloremque nostrum.
					</p>
					<a
						class="btn-main"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</figure>
			</div>
			<div class="card">
				<figure class="front">
					<h3 class="text-center">This Portfolio Website</h3>
					<img
						src="{% static 'image/gallery/todo-app.png' %}"
						alt="Django todo app"
					/>
				</figure>
				<figure class="back text-center">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing
						elit. Veniam commodi, at sunt quae doloremque nostrum.
					</p>
					<a
						class="btn-main"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</figure>
			</div>
			<div class="card">
				<figure class="front">
					<h3 class="text-center">This Portfolio Website</h3>
					<img
						src="{% static 'image/gallery/todo-app.png' %}"
						alt="Django todo app"
					/>
				</figure>
				<figure class="back text-center">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing
						elit. Veniam commodi, at sunt quae doloremque nostrum.
					</p>
					<a
						class="btn-main"
						href="https://github.com/HariprasadPoojary/django-todo_app"
						>Know More</a
					>
				</figure>
			</div>
		</div>
	</div> -->
</section>
{% endblock all-content %}
